name: Publish Development Build
on:
    push:


jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: write # ni
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Wrapper Validation
              uses: gradle/actions/wrapper-validation@v3

            - name: Set up Java
              uses: actions/setup-java@v4
              with:
                  java-version: 21
                  distribution: adopt

            - name: Make gradlew executable
              run: chmod +x ./gradlew

            - name: Build with Gradle
              run: ./gradlew build

            - name: Create/Update Dev Release
              uses: softprops/action-gh-release@v2
              with:
                  tag_name: latest
                  name: Dev Build
                  body: "Latest development build. This is a pre-release."
                  prerelease: true
                  files: ./build/libs/*.jar
